
  .card {
   
    width: 300px;
    height: 500px;
    margin: 15px;
    margin-top:20px;
    padding: 30px;
  
    box-shadow: 5px 6px 5px #888888;
    background-color:beige;
    border-radius: 18px;
    
  }
  .card:hover{
    margin-top:0px;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    margin-top: 3%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
    
  }
.access{

  color: lightslategray;
}
.period{
  font-size: 10px;

}
.card-price{
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
 .fa-ul {
    list-style-type: none;

  }


  
  /* space between li */

.list{

    text-align: left;
    line-height: 2.5;   
}

button {
  background-color:blueviolet;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 8px;
}

.text-ok{

font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.text-muted{

  color:lightslategray;
}